@import 'tailwindcss';

body {
    background-color: #00061d;
}

.container-xl {
    max-width: 1350px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

button[type=button] {
    cursor: pointer;
}

.movie-card-view .buttons {
    opacity: 0;
}
.movie-card-view:hover .buttons {
    opacity: 1;
}