@import 'tailwindcss';

body {
    background-color: #00061d;
}

.container-xl {
    max-width: 1350px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

button[type=button] {
    cursor: pointer;
}